<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Acme Bank</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-2 mb-3">
      <a class="navbar-brand" href="/">Acme Bank</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container">
      <p>To transfer money, please fill out the following form.</p>

      <form action="/transfer" method="post">
        <div class="mb-3 w-25">
          <label for="recipient" class="form-label"
            >Account to Send Money To:</label
          >
          <input class="form-control" name="account_to" value="" />
        </div>
        <div class="mb-3 w-25">
          <label class="form-label">Amount To Send</label>
          <input class="form-control" name="amount" value="" />
        </div>

        <button name="submit" type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>

      <p><%=sent%></p>
      <a href="/home" class="link">Go Back</a>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Acme Bar © 2021</span>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
